*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #282828;
}
.wrapper{
    position: absolute;
    width: 31.25em;
}
.inputBox{
    background-color: #010f2a;
    border-radius: 0.5em;
    padding: 4em 2em;
}
h1{
    text-align: center;
    color: white;
    font-weight: 500;
    margin-bottom: 1em;
}
textarea{
    resize: none;
    width: 100%;
    border: none;
    padding: 1em;
    background-color: rgba(255,255,255,0.1);
    border-radius: 0.5em;
    font-size: 16px;
    color: #fff;
    outline: none;
}
#analyzerBtn{
    position: relative;
    width: 100%;
    padding: 1.5em;
    margin-top: 1em;
    border: none;
    outline: none;
    color: white;
    background-color: #3d7ff9;
    font-size: 16px;
    border-radius: 0.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}
#output{
    position:relative;
    width: 120%;
    background-color: #fff;
    right: 10%;
    margin-top: -8em;
    z-index: -1;
    padding: 10em 2em 3em 2em;
    border-radius: 0.5em;
}
.output-container{
    font-weight: 600;
}
.output-container span{
    font-weight: 400;
}
